.middle{
    text-align: center;
    margin: auto;
    width: 80%;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
table{
    border: 1px solid black;
    border-spacing: 1px;
}